<div class="apresentationHeaderContent">
    <div class="photo">
    <img src="https://media.licdn.com/dms/image/C4D03AQFkWc-nevTt-Q/profile-displayphoto-shrink_200_200/0/1517257414274?e=1695859200&v=beta&t=NQNUUBU9IELJ2kwyA4_Mwg87Idtkxcu2K8AM1LJw1fc" alt="Photo Wilson">
    </div>
    <div class="textApresentation">
        <h1>Wilson Valente</h1>
        <p>Atuação na área de TI com ênfase em análise de sistemas e softwares open source. Perfil documentalista e organizador. Experiência com desenvolvimento e implementação de soluções para diversas necessidades. Cursando a faculdade de Ciência da Computação na UERJ. Determinado, curioso e carismático.</p>
    </div>
</div>