.content {
    display: flex;
    background-color: #122497;
    color: aliceblue;
    flex-flow: column;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    border: black 2px solid;
}