* {
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3000cc;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.contentMenu {
    width: 100%;
    margin: auto;
}

.navBar {
    width: 80%;
    margin: auto;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}