header {
    background-color: #122497;
    width: 100%;
    /*border: black 2px solid;*/
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.contentMenu {
    width: 100%;
    margin: auto;
}

.navBar {
    width: 80%;
    margin: auto;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}